In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from time import time

In [2]:
df_path = "green_tripdata_2019-10.csv"
df = pd.read_csv(df_path, nrows=100)
df.lpep_pickup_datetime  = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime  = pd.to_datetime(df.lpep_dropoff_datetime)
df.head(5)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0

In [8]:
# create_engine("postgresql://root:root@localhost:5432/ny_taxi")
engine = create_engine("postgresql://postgres:postgres@localhost:5433/ny_taxi")
engine.connect()

In [4]:
print(pd.io.sql.get_schema(df, name="green_taxi_data", con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [5]:
df.head(0).to_sql(name="green_taxi_data", con=engine, if_exists="replace")

0

In [6]:
!wc -l green_tripdata_2019-10.csv

476387 green_tripdata_2019-10.csv

In [7]:
%%capture captured
!wc -l green_tripdata_2019-10.csv

In [8]:
captured.stdout

'476387 green_tripdata_2019-10.csv\r\n'

In [9]:
lines_count = int(captured.stdout.split(" ")[0])

In [10]:
chunks = int(np.ceil(lines_count / 100000))

In [ ]:
df_iter = pd.read_csv(df_path, iterator=True, chunksize=100000)
for _ in range(chunks):
    t_start = time()

    df = next(df_iter)
    df.lpep_pickup_datetime  = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime  = pd.to_datetime(df.lpep_dropoff_datetime)

    df.to_sql(name="green_taxi_data", con=engine, if_exists="append")

    t_end = time()

    print("Chunk inserted into the database...")
    print("It took %.3f seconds" % (t_end - t_start))

Chunk inserted into the database...
It took 14.522 seconds

In [6]:
look_up = pd.read_csv("taxi_zone_lookup.csv")
look_up

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [9]:
print(pd.io.sql.get_schema(look_up, name="taxi_zone_lookup", con=engine))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)